[submodule "libs/hashcat-rules-js"]
	path = libs/hashcat-rules-js
	url = git@github.com:zzzteph/hashcat-rules-js.git
[submodule "libs/crack-js"]
	path = libs/crack-js
	url = git@github.com:zzzteph/crack-js.git
